
.contentform{
    text-decoration: none;
    font-size: 20px;
    position: relative;
    text-align: center;
    background: #23232e;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 650px;
    width: 25%;
    height: auto;
    font-family: Verdana;
    padding-top: 10px;

  }
.name{
  background-color: #00e1ff;
  padding-bottom: 20px;
  color: black;
  outline-color: white;
  position: relative; bottom: 1.2rem; left: 10rem;
  font-size: 20px;
}
.writing{
  background-color: #00e1ff;
  padding-bottom: 20px;
  color: black;
  outline-color: white;
  position: relative; top: 132px; left: -21.6rem;
  font-size: 20px;
}
.email{
  background-color: #00e1ff;
  padding-bottom: 20px;
  color: black;
  outline-color: white;
  position: relative; top: 60px; left: -5.8rem;
  font-size: 20px;
}
.message{
  background-color: #00e1ff;
  padding-bottom: 20px;
  color: black;
  height: 200px;
outline-color: white;
  position: relative; top: 10rem; left: -20rem;
  font-size: 20px;
}
.btnSubmit{
  background-color: #00e1ff;
  padding-right: 10px;
  color: black;
  position: relative; top: 13rem; left: -52.8rem;
  outline-color: white;
  font-size: 20px;
}
.p-contact{
  margin-left: 650px;
  color: white;
  font-family: Verdana;
  font-size: 30px;
  text-decoration: overline underline;
}
