

:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: white;
  --text-secondary: white;
  --bg-primary: black;
  --bg-secondary: #00e1ff;
  --transition-speed: 600ms;
}

body {
  color: black;
  background: linear-gradient(10deg, #fe00d2, #00e1ff);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 2rem;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: #00e1ff;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background: linear-gradient(10deg #fe00d2, #00e1ff)
  transition: width 600ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;

}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #9900ff;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: linear-gradient(10deg #fe00d2, #00e1ff)
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}
.title{
  position: fixed;
  padding-left:  17rem;
  text-decoration: none;
  backface-visibility: hidden;
}
.paraghraph{

  padding-top: 9rem;
  padding-left: 17rem;

}

<!---Slide Show Styling--->
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative; top: 3rem; left: 34.5rem;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 10px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  background-color: #23232e;
}

.active {
  background: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
  .text {font-size: 11px}
}

.button_image{
  padding-left: 25rem;
  padding-top: 10rem;
}

.dot{
  position: relative; top: 2rem; left: 6rem;
  background: linear-gradient(10deg, #fe00d2, #00e1ff)
}

.gridimg1{
  position: relative; top: 6rem; left: 18rem;

}

.gridimg2{
  position: relative ; top: 10rem; left: 18rem;

  float: left;
}

.gridimg3{
  position: relative; top: 10rem; left: 18rem;


}
.TEXTBRIDGE{
  font-size: 20px;
  color: white;
  padding-right: 90rem;
}

}

.button12{
  background-color: black;
  position:relative; left:256px; top:2px;
  color: white;
  padding: 1rem;
  outline-color: black;
}

.linkimage{
  padding-left: 16rem;
  padding-top: 6rem;
  text-decoration: none;

}

.TEXTBRIDGE1{
  font-size: 20px;
  color: white;
  padding-right: 90rem;

}


.TEXTCITY{
  font-size: 20px;
  color: white;
  padding-right: 90rem;
}

.Hillsimg{
  padding-top: 90px;

}

.Bridgeimg{
  padding-top: 90px;
}

.Titleimg{
  color: white;
  text-decoration: underline overline;
}


.Grid1{
  position: relative; top: 10rem; left: 18rem;
}


.Grid2{

position: relative; top: 9rem; left: 18rem;
}

.Grid3{
position: relative; bottom: 51.2rem; left: 70rem;
}

.Grid4{
position: relative; bottom: 52.2rem; left: 70rem;
}

.active{
  background-color: White;
}

.aboutusIMG{
  position: relative; top: 50px;
  border-radius: 80%;
}



.AboutUsIMG1{
  max-width: 300px;
  position: relative; top: 10rem; left: 20rem;
}

.AboutUs{
  text-decoration: underline overline;
  position: fixed; top: 25rem; left: 20rem;
  color: white;
  font-size: 30px;
}

.aboutusLorem{
  position: fixed; left: 20rem; top: 44rem;
  color: white;
  font-size: 20px;

}


.LlamaLogo{
  position: relative; left: 50rem;
  padding-left: 5rem;
  border-radius: 40px;
  outline-color: black;
}

.YouTubeLogo{
  max-width: 70px;
  position: relative; bottom: -20rem; left: 45rem;
}

.TwitchLogo{
  max-width: 70px;
  position: relative; bottom: -16.4rem; ;left: 55rem;
}

.TwitterLogo{
  max-width: 70px;
  position: relative; bottom:-12rem; left: 65rem;
  text-decoration: none;
}

.DiscordLogo{
  max-width: 70px;
  position: relative; bottom: -9.3rem; left:75rem;

}

.YouTubeLogoNews{
  max-width: 70px;
  position: relative; bottom: -50rem; left: 38rem;
}

.TwitchLogoNews{
  max-width: 70px;
  position: relative; bottom: -46.3rem; ;left: 48rem;
}

.TwitterLogoNEws{
  max-width: 70px;
  position: relative; bottom:-42rem; left: 58rem;
  text-decoration: none;
}

.DiscordLogoNews{
  max-width: 70px;
  position: relative; bottom: -39rem; left:67rem;

}

.TwitterFeed{
  max-width: 700px;
  position: relative; left: 35rem;
  padding-top: 100px;

}

.SocialMedia{
  padding-bottom: 578px;
}

.slideshow-container{
  position: relative; left: 18rem;
}
@media only screen and (max-width: 958px){
  .slideshow-container{
   display: none;
  }

  .LlamaLogo{
    position: relative; left: 20rem;
    padding: none;

  }

  .dot{
    display: none;
  }

  .TEXTCITY{
    padding-right: 20rem;
  }

  .TEXTBRIDGE{
    padding-right: 20rem;
  }

  .TEXTBRIDGE1{
    padding-right: 20rem;
  }

  .Hillsimg{
    width: 280px;
  }

  .Grid1{
    position: relative;left:18rem; top: 12.6rem;
  }

  .Grid2{
    position: relative;left:18rem; top: 10.6rem;
  }

  .Grid3{
    position: relative;left:39rem; bottom: 22rem;
  }

  .Grid4{
    position: relative;left: 39rem; bottom: 24rem;
  }

  .YouTubeLogo{
    position: relative;left: 19rem;
  }

  .TwitchLogo{
    position: relative; left: 28rem;
  }

  .TwitterLogo{
    position: relative;left: 36rem;
  }

  .DiscordLogo{
    position: relative;left: 43rem;
  }

  .TwitterFeed{
    margin: none;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: none;
    position: relative;left: 20rem;
    width: 500px;
  }

  .YouTubeLogoNews{
    position: relative;left: 20rem;bottom: -5rem;
  }

  .TwitterLogoNEws{
    position: relative;left: 29rem;bottom: 3rem;
  }

  .TwitchLogoNews{
    position: relative;left: 39rem;bottom: -2rem;
  }

  .DiscordLogoNews{
    position: relative;left: 47rem; bottom: 5rem;
  }

  .SocialMedia{
    padding: 1px;
  }

  .aboutusIMG{
    width: 400px;
  }
}
@media only screen and (max-width: 375px){

  .slideshow-container{
    display: none;
  }

  .dot{
    display: none;
  }

  .LlamaLogo{
    position: relative;left: 5rem;
    width: 200px;
  }

  .firstpiconhome{
    width: 180px;
    position: relative; left: -8rem;
  }

  .TEXTCITY{
    font-size: 15px;
    padding-right: 12rem;
    position: relative; left: -8rem;
}


  .Titleimg{
  font-size: 20px;
  position: relative; left: -8rem;
  padding-right: 10rem;}

  .navbar{
    width: 10px;
  }

  .Hillsimg{
  width: 180px;
  position: relative;left: -8rem;
}

  .Bridgeimg{
    width: 180px;
    position: relative; left: -8rem;
  }

  .TEXTBRIDGE{
    font-size: 15px;
    padding-right: 12rem;
    position: relative; left: -8rem;
  }

  .TEXTBRIDGE1{
    font-size: 15px;
    padding-right: 12rem;
    position: relative; left: -8rem;
  }

  .Grid1{
    display: none;
  }

  .Grid2{
    display: none;
  }

  .Grid3{
    display: none;
  }

  .Grid4{
    display: none;
  }

  .YoutubeLogo{
    position: relative;left: 1rem; bottom: -19rem;
    width: 60px;
  }

.TwitchLogo{
    position: relative;left: 7rem; bottom: -15.5rem;
    width: 60px;
  }

.TwitterLogo{
  position: relative;left: 12rem; bottom: -11.5rem;
  width: 70px;
}

.DiscordLogo{
  position: relative;left: 17.5rem;
  width: 70px;
}

.TwitterFeed{
  width: 100px;
  position: relative;left: 10rem;
  padding: none;
}

.YoutubeSoc{
display: none;

}

.TwitchSoc{
display: none;

}

.TwitterSoc{
  display: none;
}

.DiscordSoc{
display: none;
}

.aboutusIMG{
  width: 200px;
  position: relative;left: 3rem;
}

.AboutUsIMG1{
  width: 200px;
  position: relative;left: 9rem;
}

.AboutUs{
  font-size: 20px;
  position: relative;left: 9rem; top: -1rem;
}

.aboutusLorem{
  font-size: 15px;
  position: relative;left: 9rem; top: 7rem;
}

.body{
  margin: 0;
  padding: 0;
}
